* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: white;
}

#nav{
    background-color: #242f66;
    padding-top: 6px;
    padding-bottom: 6px;
    overflow: hidden;
}

#one{
    font-size: 14px;
    line-height: 20px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    display: inline-block;
    animation: scrollText 20s linear infinite;
}

@keyframes scrollText{
    from{
        transform: translateX(100vw);
    }
    to{
        transform: translateX(-100%);
    }
}

#two{
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*
.log{
    background-image: url(Nobero_logo_1_2.svg);
    background-size: cover;
    height: 32px;
    width: 48px;
    display: inline-block;
    margin-left: 65px;
    margin-right: 55px;
}
*/
.navbar{
    color: #000000;
    font-weight: 550;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    
}

.tag{
    background-image: url(tagg.webp);
    background-size: cover;
    height: 54px;
    width: 49px;
    margin-right: 60px;
}

.search{
    position: relative;
}

.search input{
    height: 35px;
    width: 190px;
    padding-left: 5px; 
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
}

.search i{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.search:hover{
    border: 2px solid #242f66;
    border-radius:9% ;
}

#line{
    border-top: .5px solid rgb(162, 166, 173)
}

.scroll{
    width:1470px;
    height:600px;
    overflow:hidden;
}

.slides{
    display:flex;
    transition: transform 0.6s ease 4s;
}

.b{
    min-width:1370px;
    margin-top: 40px;
   /* align-self: center;*/
    height:500px;
    margin-left: 6%;
    margin-right: 6%;
    background-size:cover;
    background-position:center;
}


@keyframes slides{

0%{transform:translateX(0);}

16%{transform:translateX(-100%);}
29%{transform:translateX(-100%);}

32%{transform:translateX(-200%);}
45%{transform:translateX(-200%);}

48%{transform:translateX(-300%);}
61%{transform:translateX(-300%);}

64%{transform:translateX(-400%);}
77%{transform:translateX(-400%);}

80%{transform:translateX(-500%);}
93%{transform:translateX(-500%);}
}

.mood{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: #1A1E31;
    margin-bottom: 10px;
    font-weight: 200;
}

.every{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: #666875;
}

/*shoping*/

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 6%;
    margin-right: 6%;
}

.box{
    height: 540px;
    width: 24%;
    margin-top: 25px;
    
}

.box-image{
    height: 430px;
    background-size: cover;
    margin-top: .85rem;
    margin-bottom: .85rem;
}

.box-image:hover {
    border: 3px solid hsl(271, 42%, 47%);
     transform: scale(1.01);
}
/*shop-1*/

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-left: 6%;
    margin-right: 6%;
}

.cloth{
    height: 210px ;
    width: 210px;
    display: flex;
    background-size: cover;
}

.cloth:hover{
    border: 3px solid #7d7e81;
    border-radius: 5%;
    transform: scale(1.01);
}

.word{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.app{
    margin-top: 75px;
    width: 100%;
}

.our{
    width: 100%;
    height: 400px;
    background-size: cover;
}


.nobaro{
   font-size: 24px;
   font-family: Arial, Helvetica, sans-serif;
   color: #1A1E31;
   text-align: center;
   margin-top: 65px;
   font-weight: 550;
   margin-bottom: 10px;
}

.hand{
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
   color: #666825;
   text-align: center;
}

.men{
    display:flex;
    gap:20px;
    padding:20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
}

.wear{
    width:380px;
    cursor:pointer;
}

.cloth-image{
    height:500px;
    background-size:cover;
    background-position:center;
    position:relative;
}


/* BESTSELLER tag */

.tagg{
    position:absolute;
    top:10px;
    left:10px;
    height: auto;
    width: auto;
    color: #000000;
    display: block;
    background: #E7C65A;
    padding:4px 8px;
    font-size:12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* rating badge */

.rating{
    position:absolute;
    bottom:10px;
    left:10px;
    background:white;
    padding:2px 4px 2px 4px;
    font-size:16px;
    border-radius:4px;
    color: #242F66;
}

.men1{
   padding: 12px 16px;
   border-style: solid;
   border-color: #e5e7eb;
   border-width: 1px;
}
.line1{
    margin-top:10px;
    font-size:18px;
    color:#505985;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.price{
    margin-top:6px;
    display:flex;
    gap:8px;
    /*align-items:center;*/
}

.new{
    color: black;
    font-weight:bold;
    font-size:18px;
}

.old{
    text-decoration:line-through;
    color:#666875;
}

.off{
    color:#008C2D;
    font-weight:500;
}

.line3{
    margin-top:5px;
    color:#8941E8;
    font-size:14px;
}

.wear:hover{
    border: 3px solid #7d7e81;
    transform: scale(1.01);
}

.all{
    display:flex;
    justify-content:center;  
    align-items:center;      

    border:1px solid #000000;
    width:320px;
    height:38px;

    margin:20px auto; 
}

.sh{
    color:#242F66;
    font-size:16px;
    font-family:'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
}

.smart{
    background-image: url(smart.webp);
    margin-left: 10px;
    margin-top: 40px;
    margin-right: 10px;
    background-size: cover;
    height: 420px;
}


.hello{
    background-color: #E9EAF0;
    padding-left: 10px;
}

.ten{
    background-image:url(10.webp);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    height:250px;
    width: 1250px;
    margin:auto;
    margin-top:56px; 
}


.bottom{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
}

.explore{
    background:#242f66;
    color:white;
    border:none;
    padding:10px 100px;
    font-size:16px;
    margin-bottom: 56px;
}

.pric{
    display:flex;
    flex-direction:column;
    margin-bottom: 56px;
}

.line4{
    font-size:20px;
    font-weight:bold;
    color:black;
}

.offf{
    color:green;
    margin-left:5px;
    font-size: 18px;
}
.line5{
    font-size:16px;
    color:#666;
}

.line5 del{
    color:#666;
}

.of{
    font-size:12px;
    color:#666;
    margin-left: 2px;
}

.line6{
  color: #1A1E31;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 550;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 6px;
  
}

.line7{
  color: #666875;
  margin: 2px 0px 16px;
  font-size: 16px;
  text-align: center;
  font-family: sans-serif;
}

.hii{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px;
}

.hii1{
    width: 300px;
    background: white;
}

.hii1:hover{
    border: 3px solid #cccccc;
    transform: scale(1.01);
}
.cloths{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.me1{
    padding: 16px;
    border: 1px solid #e5e7eb;
}

.line8{
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 8px;
}

.line9{
    font-size: 18px;
    color: #000000;
    font-weight: 500;
}

body{
    background:#f5f5f5;
    font-family:Arial;
}

.reviews{
    display:flex;
    gap:25px;
    padding:40px;
    justify-content:center;
}

.card{
    width:300px;
    background:white;
    border-radius:12px;
    text-align:center;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    padding-bottom:20px;
}

.imgbox{
    position:relative;
}

.imgbox img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:12px 12px 0 0;
}

.stars{
    position:absolute;
    bottom:-15px;
    left:50%;
    transform:translateX(-50%);
    background:white;
    padding:6px 14px;
    border-radius:8px;
    color:gold;
    font-size:20px;
    box-shadow:0 2px 10px rgba(0,0,0,0.15);
}

.card h3{
    margin-top:25px;
    font-weight:600;
}

.card p{
    padding:0 20px;
    color:#555;
}

.boxes:hover{
    
}

.footer {
    background-color: #2f3b73;
    color: white;
    height: 550px;
    padding: 50px 80px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-col {
    width: 22%;
}

.footer-col h3 {
    margin-bottom: 20px;
    font-size: 18px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
}

.footer-col ul li:hover {
    text-decoration: underline;
}

.icons i {
    font-size: 22px;
    margin-right: 15px;
    background: white;
    color: #2f3b73;
    padding: 5px;
    border-radius: 50%;
}
